.register{
    h1{
        text-align: center;
        font-weight: 1000;
        font-size: 30px;
        padding-bottom: 70px;
    }
    .inner{
        max-width: 1250px;
        margin: auto;
        padding: 70px 20px;
        display: flex;
        .left{
            width: 40%;
        }
        .right{
            width: 60%;
            
            form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 800px;
                margin: auto;
                .divider{
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    .box1 , .box2{
                        width: 50%;
                    }
                }
                .inputs{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;
                    label{
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .input{
                        width: 100%;
                        padding: 8px 14px;
                        border: 2px solid #4472C4;
                        border-radius: 5px;
                        
                        input{
                            border: none;
                            outline: none;
                            width: 100%;
                            font-size: 14px;
                            font-weight: 400;
                        }
                        
                    }
                    .select{
                        width: 100%;
                        border-radius: 5px;
                        border: 2px solid #4472C4;
                        
                        
                        select{
                            border-radius: 5px;
                            padding: 8px 14px;
                            width: 100%;
                            border: none;
                            outline: none;
                            font-size: 14px;
                            
                        }
                        option{
                            padding: 8px 14px;
                            min-height: 100rem;
                        }
                    }
                }
                button{
                    padding: 8px 14px;
                    font-size: 14px;
                    font-weight: 600;
                    background-color: #4472C4; 
                    border-radius: 4px;
                    color: white; 
                    border: none; 
                    cursor: pointer;    
                    width: 100%;            
                }
                h5{
                    margin-top: 10px;
                    span{
                        
                        color: #4472C4 !important;
                    }
                }
            }
        }
    }
}